/*added for scroll to top button smooth transition*/
html {
	scroll-behavior: smooth;	
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ededed;
}

#scrollBtn {
	 display: none;
	 position: fixed;
	 bottom: 20px;
	 right: 30px;
	 z-index: 99;
	 font-size: 14pt;
	 border: none;
	 border-radius: 5px;
	 outline: none;
	 background-color: #337f65;
	 color: white;
	 cursor: pointer;
	 padding: 10px;
}

#scrollBtn:hover {
		 background-color: #666;
}

#theme {
	display: block;
	float: right;
	margin-top: 15px;
	margin-right: 20px;

}

.theme {
	display: inline-block;
	width: 20px;
	height: 5px;
	border: 2px solid darkgrey;
	padding: 5px;
	font-variant: small-caps;
	font-size: 10pt;
}

#light {
	background: #ededed;
	border-radius: 5px 0px 0px 5px;
}

#light:hover {
	box-shadow: 0px 0px 3px 3px;
}

#dark {
	background: #555;
	border-radius: 0px 5px 5px 0px;
	color: white;
}

#dark:hover {
	box-shadow: 0px 0px 3px 3px;
}
